//Tipografia
$fuente-principal: Arial, Helvetica, sans-serif;

//colores
$blanco: #FFFFFF;
$gris: #585858;
$gris-claro: #E8E8E8;
$gris-borde: #DDDDDD;
$gris-fondo: #F4F4F4;
$gris-texto: #7F8C8D;

$rojo: #AA1535;

$ancho-container: 1000px;